

@keyframes fillup {
    to { stroke-dasharray: 90 100; }
}


circle {
    fill: yellowgreen;
    stroke: #655;
    stroke-width: 31;
    stroke-dasharray: 0 100;
    animation: fillup 3s linear forwards;
}


svg {
    width: 100px; height: 100px;
    transform: rotate(-90deg);
    background: yellowgreen;
    border-radius: 50%;
}