

@keyframes fillup {
    to { stroke-dasharray: 90 100; }
}


circle {
    fill: yellowgreen;
    stroke: #655;
    stroke-width: 31.75;
    stroke-dasharray: 0 100;
    animation: fillup 3s linear forwards;
}


svg {
    width: 380px; height: 380px;
    transform: rotate(-90deg);
    background: yellowgreen;
    border-radius: 50%;
}

.left-container {
    outline: dashed;
    position: absolute;
    left: 0px;
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

.left-container table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 8px;
    width: 500px;
    border: 1px solid #000000;
    margin-bottom: 50px;
    
}

.left-container table td, .left-container table th {
    border: 1px solid #000000;
    text-align: center;
}

.left-container table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    background-color: grey;
    color: white;
    border-top: 2px solid #000000;
    
}



.right-container {
    outline: dashed;
    position: absolute;
    right: 0px;
    width: 50%;
    padding-top: 5%;
}